@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


:root
{
    --main-color: rgb(141, 11, 11);
    --color-dark: red;
    --text-grey: #291f1f;
}
a 
{
    text-decoration: none;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins',  sans-serif;
    
}

.sidebar
{
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color); 
    z-index: 100;   
    transition: width 300ms;

}

.brand-logo
{       
    display: flex;
    align-items: center; 
    padding: 2rem 0rem 2rem 3rem;
    color: rgb(255, 255, 255);

}

.brand-logo h2 span
{

    padding-right: 1rem;

}

.brand-logo img
{
    height: 15%;
    width: 15%;
}


.sidebar-menu 
{
    margin-top: 1rem;
    
}

.sidebar-menu li
{
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 2rem;
    

}

#add-new, #update_stocks, #settings{
    display:none;
}


.sidebar-menu a
{
    display: block;
    padding-left: 0;
    padding-right: 3rem;
    color: #ffffff;
    font-size: 1.1rem;
    transition: 0.3s;
  
}

/* .sidebar-menu a span:first-child
{
    font-size: 1.5rem;
    padding-right: 1rem;
    
    
} */

.sidebar-menu a.list-item:hover
{
    background: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    font-size: 1.0rem;
    border-radius: 30px 0 0 30px ;
    padding-left: 30px;
}

#nav-toggle:checked + .sidebar
{
    width: 70px;
}


#nav-toggle:checked + .sidebar .brand-logo,
#nav-toggle:checked + .sidebar .sidebar-menu li
{
    padding-left: 1rem;

}

#nav-toggle:checked + .sidebar li a
{
    padding-left: 0.5rem;
}

#nav-toggle:checked + .sidebar .brand-logo,
#nav-toggle:checked + .sidebar .sidebar-menu li a span:last-child 
{
    display:none;
}

#nav-toggle:checked ~ .main-content
{
    margin-left: 70px;
}

#nav-toggle:checked ~ .main-content header
{
    width: calc(100% - 70px);
    left: 70px;
}

/* side menu operations */

.main-content
{   
    transition: margin-left 300ms;
    margin-left: 345px;
}



header
{
    display: flex;
    background: #fff;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    transition: width 300ms;

}

header h2
{
    color: #222;
}

header label span
{
    font-size: 1.7rem;
    padding-right: 1rem;

}

.search-wrapper
{
    border: 1px solid #969191;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    
}

.search-wrapper span{

    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;

}

.search-wrapper input
{
    height: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
}


/* image  */

.user-wrapper
{
    display: flex;
    align-items: center;
}

.user-wrapper img
{
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper small
{
    display: inline-block;
    color: var(--text-grey);
}

/* main part */

main
{   
    margin-top: 60px;
    padding: 1rem 1.5rem;
    background: rgb(255, 255, 255);
    min-height: calc(100vh - 90px);
}

/* cards */

.driver-data-cards
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;

}

.single-card
{   
    display: flex;
    justify-content: space-between;
    background: hsl(0, 85%, 87%);
    padding: 2rem;
    border-radius: 5px;   
    
}

.single-card div:last-child span
{   
    font-size: 3rem;
    color: var(--main-color);

}

.single-card div:first-child
{
    color: var(--text-grey)
}


#dashboard_icon
{
    font-size: 1.3rem;

}


/* table -  recent */

table
{
    border-collapse: collapse;
}

.recent-grid
{
    margin-top: 0rem;
    display: grid;
    /* grid-template-columns: 70% auto; */
}

.recent-grid2
{
    margin-top: -1rem;
    display: grid;
    /* grid-template-columns: 70% auto; */
}


.card-header, .card-body
{
    padding: 1rem;
}

.card-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: none;
    border-bottom: 1px solid rgb(181, 179, 179);
}

.card-header button
{
    background: var(--main-color);
    padding: 0.5rem 1.0rem;
    border-radius: 10px;
    font-size: 0.8rem;
    color: #fff;
    border: 1px solid var(--main-color);

}

.card
{
    background: #fff;
    border-radius: 2px;
    
}

thead tr
{
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;

}

thead td
{
    font-weight: 700;
}

td
{
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    color: #222;
}

.table-responsive
{
    width: 100%;
    overflow-x: auto;

}

@media only screen and (max-width: 1200px){

    .sidebar
    {
        width: 70px;
    }

    .sidebar .brand-logo
    {
        display: none;
    }


    .sidebar .brand-logo,
    .sidebar .sidebar-menu li
    {
        padding-left: 1rem;
        text-align: center;
    }

    .sidebar li a
    {
        padding-left: 0.5rem;
    }

    .sidebar .brand-logo h2 span:last-child,
    .sidebar .sidebar-menu li a span:last-child 
    {
        display:none;
    }

    .main-content
    {
        margin-left: 70px;
    }

    .main-content header
    {
        width: calc(100% - 70px);
        left: 70px;
    }

    .sidebar:hover
    {
        width: 345px;
        z-index: 200;
    }


    .sidebar:hover .brand-logo,
    .sidebar:hover .sidebar-menu li
    {
        padding-left: 2rem;
        text-align: left;
    }

    .sidebar:hover li a
    {
        padding-left: 1rem;
    }

    .sidebar:hover .brand-logo h2 span:last-child,
    .sidebar:hover .sidebar-menu li a span:last-child 
    {
        display:inline;
    }


}

@media only screen and (max-width: 960px){
    
    .driver-data-cards
    {
        grid-template-columns: repeat(3, 1fr);
    }

    .recent-grid
    {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 768px){

    .driver-data-cards
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .recent-grid
    {
        grid-template-columns: 100%;
    }

    .search-wrapper
    {
        display: none;
    }

    

}

@media only screen and (max-width: 768px){

    .driver-data-cards{
        grid-template-columns: 100%;

    }
}

/* add food */

.form-input
{
    width: 300px;
    padding: 20px;
    margin-top: 20px;
    background: white;

}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  
}

.form-input img
{
    width: 100%;
    margin-bottom: 30px;
    display: none;
}

.form-input label
{
    display: block;
    width: 55%;
    height: 45px;
    padding: 3px;
    text-align: center;
    background: var(--main-color);
    color: aliceblue;
    line-height: 45px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.form-input input
{
    display: none;
}


/* FORM DATA */ 


#add-new main .add-food
{
    margin-left: 30px;
    margin-right: 30px;
}

#add-new main .add-food h1
{
color : black;
margin-top: 0px;
font-weight: 1000;
font-size: 1.7em;   
text-align: center;
margin-bottom: 1px;

}

#add-new main .add-food .form1
{
margin-top: 10px;
display: flex;
flex-direction: column;
align-items: center;
}

.form1 .input-box
{
width: 100%;
margin-top: 20px;
}

.form1 .input-box label
{
color: rgb(0, 0, 0);
margin-left: 5px;

}

.form1 .input-box input
{
position: relative;
height: 50px;
width: 100%;
font-size: 1rem;
outline: none;
border: 1px solid rgb(104, 100, 100);
border-radius: 6px;
padding: 0 15px;


}

.form1 .column{
display: flex;
column-gap: 5px;

}

.form1 button
{
height: 55px;
width: 25%;
color: #fff;
font-size: 1rem;
font-weight: 400;
cursor: pointer;
border: none;
border-radius: 10px;
background-color: rgb(0, 0, 0);
display: block;
margin: 50px auto;
margin-top: 20px;

}


#add-new main .form1 button :hover
{
    background: rgb(222, 215, 215);
}

/* Toggle */

.toggle
{ 
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

.toggle-label 
{
    height: 26px;
    width: 52px;
    background:rgb(214, 139, 139);
    border-radius: 13px;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    
}

.toggle-label::before
{
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 2px;
    transition: 0.5s;

}

.check:checked + .toggle-label
{
    background: #a60000;
}

.check:checked + .toggle-label::before
{
    transform: translateX(26px);
    
}

.check
{
    display: none;
}

/* settings part */

.container
{
  position: relative;
  width: 100%;
  background: #fff;
  padding: 80px 80px 25px 80px;
  border-radius: 8px;

}

.container h1
{
  color : black;
  margin-top: 20px;
  font-weight: 1000;
  font-size: 1.7em;   
  text-align: center;
  margin-bottom: 1px;
  
}

.container .myForm
{
  margin-top: 15px;
  align-items: center;

}

.myForm .input-box
{
  width: 100%;
  margin-top: 20px;
}

.myForm .input-box label
{
  color: black;
  margin-left: 5px;

}

.myForm .input-box input
{
  position: relative;
  height: 50px;
  width: 100%;
  font-size: 1rem;
  outline: none;
  border: 1px solid rgb(104, 100, 100);
  border-radius: 6px;
  padding: 0 15px;


}

.myForm .column{
  display: flex;
  column-gap: 5px;

}

.myForm button 
{
  height: 40px;
  width: 25%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 40px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: black;
  display: block;
  margin: 30px auto;

}

.myForm button :hover
{
  background: rgb(129, 127, 127);
}


.myForm .delete-account
{
    background: #ff0000;
}

.myForm2 .form-input
{
    width: 100%;
}

.myForm2 .form-input label
{
    width: 25%;
    height: 40px;
    padding-top: -1px;
    border-radius: 6px;
}


#registration-form2  button
{
height: 40px;
width: 25%;
color: #fff;
font-size: 1rem;
font-weight: 400;
cursor: pointer;
border: none;
border-radius: 6px;
background-color: rgb(0, 0, 0);
display: block;
margin: 50px auto;
margin-top: 20px;

}

#settings  .container .delete-account
{
    height: 40px;
    width: 25%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 40px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: rgb(255, 0, 0);
    display: block;
    margin: 30px auto;
}





